@media only screen and (max-width: 600px) {
    
}



@media only screen and (min-width: 600px) {
    
    body{
        width: 70%;
        margin-left: 15%;
        margin-top: 80px;
    }

    #section_404{
        display: flex;
        margin-top: 150px;
    }

    #section_img{
        width: 15%;
        height: 12%;
        margin-top: 70px;
    }

    .section h1{
        font-family: 'Zen Kaku Gothic New';
        font-style: normal;
        font-size: 50px;
        color: #2e2e2e;
    }

    .section p{
        font-family: 'Zen Kaku Gothic New';
        font-style: normal;
        font-size: 23px;
        color: #2e2e2e;
        margin-top: 50px;
    }

    #link{
        text-decoration: underline;
        margin-top: 0;
    }

    #section_text{
        margin-left: 80px;
    }
}
