a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #topImage{
        width: 100%;
        height: 50vw;
        margin:0 0;
        padding: 60px 0 0;
    }

    #topImage_desktop{
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0;
        object-fit: cover;
    }

    .body_content{
        margin:  0 5vw;
        width: 90%;
        max-width: 1440px;
        padding-top: 40px;
        padding-bottom: 50px;
    }


    .type_selector {
        background-color: #fff;
        width: 90vw;
        height: 50px;
        margin: 0 auto;
        border: solid 1px #000;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
    }

    .type_selector ul{
        height: 100%;
        display: flex;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .type_selector li{
        width: 29vw;
        height: 100%;
        line-height: 70px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        list-style: none;
        display: list-item;
        position: relative;
    }

    .type_selector span{
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1.2px;
        font-family: 'Noto Sans JP';
        font-weight: 600;
        color: #000000;
        display: inline-block;
        white-space: pre;
        pointer-events: none;
        vertical-align: baseline;
        position: relative;    
    }

    #type_all:before,#type_important:before{
        content: "";
        width: 1.4px;
        height: 24px;
        background-color: #C3CCD5;
        border-radius: 8px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .type_selector li.active span:before {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .type_selector span:before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #225f8c;
        border-radius: 50%;
        position: absolute;
        top: -11px;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -20px);
        transform: translate(-50%, -20px);
        -webkit-transition: opacity 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        transition: opacity 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
        transition-property: opacity,transform,-webkit-transform;
    }


    .type_selector li.active span:after {
        width: 140%;
    }
    .type_selector span:after {
        content: "";
        width: 0;
        height: 3px;
        background-color: #225f8c;
        border-radius: 4px;
        position: absolute;
        bottom: -21px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: width 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        transition: width 0.3s cubic-bezier(1, 0.15, 0.25, 1);
    }

    .flex_active{
        display: flex !important;
    }

    #flex-container_all{
        margin: 40px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-container_important{
        margin: 40px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-container_others{
        margin: 40px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .articles_description{
        position: absolute;
        top: 12px;
        left: 38%;
        width: 60%;
    }

    .flex_contents{
        position: relative;
        padding: 17px 0 7px;
        margin: 0;
        width: 100%;
        border-bottom: 0.5px solid #888888;
    }

    .flex_contents img{
        margin-left: 2%;
        width: 33%;
        display: inline-block;
    }

    .flex_contents p{
        display: inline-block;
        font-family: 'Zen Kaku Gothic New';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #767676;
        margin: 0;
    }

    .flex_contents h1{
        display: inline-block;
        font-family: 'Zen Kaku Gothic New';
        font-style: normal;
        font-weight: 700;
        font-size: 15.5px;
        line-height: 100%;
        letter-spacing: 0.06em;
        color: #4E4E4E;
        margin: 10px 0 0 0;
    }
}



@media only screen and (min-width: 600px) {
    #topImage_desktop{
        width: 100%;
        margin-top: 60px;
    }

    .body_content{
        margin:  0 auto;
        width: 80%;
        max-width: 1440px;
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .type_selector {
        background-color: #fff;
        width: 800px;
        height: 72px;
        margin: 0 auto;
        border: solid 1px #000;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 10;
    }

    .type_selector ul{
        height: 100%;
        display: flex;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .type_selector li{
        width: 260px;
        height: 100%;
        line-height: 70px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        list-style: none;
        display: list-item;
        position: relative;
    }

    .type_selector span{
        transform: translateY(4px);
        margin: 0;
        padding: 0;
        outline: 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.2px;
        font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",'Noto Sans JP';
        font-weight: 600;
        color: #000000;
        display: inline-block;
        white-space: pre;
        pointer-events: none;
        vertical-align: baseline;
        position: relative;    
    }

    #type_all:before,#type_important:before{
        content: "";
        width: 2px;
        height: 32px;
        background-color: #C3CCD5;
        border-radius: 8px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .type_selector li.active span:before {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .type_selector span:before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #225f8c;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -20px);
        transform: translate(-50%, -20px);
        -webkit-transition: opacity 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        transition: opacity 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
        transition-property: opacity,transform,-webkit-transform;
    }


    .type_selector li.active span:after {
        width: 140%;
    }
    .type_selector span:after {
        content: "";
        width: 0;
        height: 4px;
        background-color: #225f8c;
        border-radius: 4px;
        position: absolute;
        bottom: -24px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: width 0.3s cubic-bezier(1, 0.15, 0.25, 1);
        transition: width 0.3s cubic-bezier(1, 0.15, 0.25, 1);
    }

    .flex_active{
        display: flex !important;
    }

    #flex-container_all{
        margin: 50px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

     #flex-container_important{
        margin: 50px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex-container_others{
        margin: 50px 0;
        width: 100%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex_contents{
        margin-top: 40px;
        margin-right: 40px;
        width: 400px;
        opacity: 1;
    }

    .flex_contents p{
        top: 0px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.025em;
        color: #767676;
    }

    .flex_contents h1{
        top: 38px;
        font-family: 'Yu Gothic';
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #373737;
    }
}
