.section{
    margin-top: 100px;
    border: 1px #E2E2E2 solid;
    border-radius: 13px;
    width: 88%;
    margin-left: 6%;
    margin-bottom: 30px;
}

.red{
    color: #FF7272;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 230.5%;
    letter-spacing: 0.025em;
}

.title h3{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130.5%;
    letter-spacing: 0.025em;
    color: #515151;
    margin-left: 5px;
}

.title h2{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.07em;
    color: #515151;
    margin-left: 5px;
    margin: 10px 5px 5px;
}

.title h5{    
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.025em;
    color: #515151;
    margin-left: 5px;
    margin: 10px 5px;
}

.title p{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 196%;
    letter-spacing: 0.1em;
    color: #515151;
    margin-left: 10px;
}

#decoration{
    content: "";
    background-color: #353535;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 100%;
    height: 13px;
}

#question4 label{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 196%;
    letter-spacing: 0.1em;
    color: #515151;
    margin-left: 10px;
}

.points{
    display: inline-block;
}

.button{
    border: 1px solid #000000;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #515151;
    padding: 8px 24px;
    cursor: pointer;
    margin: 0 10px;
}

.unavailable_button{
    opacity: 0.5;
}

.hide_default{
    display: none;
}


input[type="radio"]{
  position: relative;
  top: 2px;
}

#question1, #question2, #question3, #question4, #question5, #question6{
    width: 95%;
    margin: 30px 2.5%;
}

.text_decoration{
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 196%;
    letter-spacing: 0.1em;
    color: #515151;
    margin-left: 10px;
}

.isou_image_block{
    /* display: none; */
}

.image{
    content: "";
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 196%;
    letter-spacing: 0.1em;
    color: #515151;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 88%;
    margin-left: 6%;
    width: 400px;
    aspect-ratio: 2/3;
    border-radius: 20px;
    margin-top: 20px;

}

#kurat_1AHR{
    background-image: url(../files/kurat/1AHR.jpg);
}

#kurat_1BHR{
    background-image: url(../files/kurat/1BHR.jpg);
}

#kurat_1CHR{
    background-image: url(../files/kurat/1CHR.jpg);
}

#kurat_1DHR{
    background-image: url(../files/kurat/1DHR.jpg);
}

#kurat_2AHR{
    background-image: url(../files/kurat/2AHR.jpg);
}

#kurat_2BHR{
    background-image: url(../files/kurat/2BHR.jpg);
}

#kurat_2CHR{
    background-image: url(../files/kurat/2CHR.jpg);
}

#kurat_2DHR{
    background-image: url(../files/kurat/2DHR.jpg);
}

#kurat_3AHR{
    background-image: url(../files/kurat/3AHR.jpg);
}

#kurat_3BHR{
    background-image: url(../files/kurat/3BHR.jpg);
}

#kurat_3CHR{
    background-image: url(../files/kurat/3CHR.jpg);
}

#kurat_3DHR{
    background-image: url(../files/kurat/3DHR.jpg);
}

#kurat_11HR{
    background-image: url(../files/kurat/11HR.png);
}

#kurat_12HR{
    background-image: url(../files/kurat/12HR.png);
}

#kurat_13HR{
    background-image: url(../files/kurat/13HR.png);
}

#kurat_14HR{
    background-image: url(../files/kurat/14HR.png);
}

#kurat_15HR{
    background-image: url(../files/kurat/15HR.png);
}

#kurat_16HR{
    background-image: url(../files/kurat/16HR.png);
}

#kurat_17HR{
    background-image: url(../files/kurat/17HR.png);
}

#kurat_21HR{
    background-image: url(../files/kurat/21HR.png);
}

#kurat_22HR{
    background-image: url(../files/kurat/22HR.png);
}

#kurat_23HR{
    background-image: url(../files/kurat/23HR.png);
}

#kurat_24HR{
    background-image: url(../files/kurat/24HR.png);
}

#kurat_25HR{
    background-image: url(../files/kurat/25HR.png);
}

#kurat_26HR{
    background-image: url(../files/kurat/26HR.png);
}

#kurat_31HR{
    background-image: url(../files/kurat/31HR.png);
}

#kurat_32HR{
    background-image: url(../files/kurat/32HR.png);
}

#kurat_33HR{
    background-image: url(../files/kurat/33HR.png);
}

#kurat_34HR{
    background-image: url(../files/kurat/34HR.png);
}

#kurat_35HR{
    background-image: url(../files/kurat/35HR.png);
}

#kurat_36HR{
    background-image: url(../files/kurat/36HR.png);
}

#isou_11HR{
    background-image: url(../vote/isou/11HR.png);
}

#isou_13HR{
    background-image: url(../vote/isou/13HR.png);
}

#isou_14HR{
    background-image: url(../vote/isou/14HR.png);
}

#isou_21HR{
    background-image: url(../vote/isou/21HR.png);
}

#isou_25HR{
    background-image: url(../vote/isou/25HR.png);
}

#isou_31HR{
    background-image: url(../vote/isou/31HR.png);
}

#isou_32HR{
    background-image: url(../vote/isou/32HR.png);
}

#isou_33HR{
    background-image: url(../vote/isou/33HR.png);
}

#isou_34HR{
    background-image: url(../vote/isou/34HR.png);
}

#isou_35HR{
    background-image: url(../vote/isou/35HR.png);
}

#isou_36HR{
    background-image: url(../vote/isou/36HR.png);
}

#isou_karuta{
    background-image: url(../vote/isou/karuta.png);
}