/*スマホ用のスタイル*/
@media only screen and (max-width: 600px) {
}

/*タブレット・パソコン用のスタイル*/
@media only screen and (min-width: 600px) {
    #topImage_desktop{
        width:100%;
    }

    .section{
        width: 70%;
        margin-left: 15%;
        margin-top: 80px;
    }

    #section_news{
        position: relative;
        height: 360px
    }

    .title_svg{
        height: 80px;
    }

    #news_link{
        position: absolute;
        top: 110px;
        width: 110px;
    }

    #news_holder{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 360px;
    }

    .news_contents{
        border-top: 1px solid #B0B0B0;
        height: 120px;
        width: 43vw;
        padding-left:20px;
        position: relative;
        
    }

    .news_contents p{
        position: absolute;
        top: 0px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.025em;
        color: #767676;
    }

    .news_contents h1{
        position: absolute;
        top: 38px;
        font-family: 'Yu Gothic';
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #373737;
    }
}