/*スマホ用のスタイル*/
@media only screen and (max-width: 600px) {

}

/*タブレット・パソコン用のスタイル*/
@media only screen and (min-width: 600px) {
    #topImage_desktop{
        width: 100%;
    }

    .section{
        position: relative;
        content: "";
        width: 600px;
        margin-left: calc(50vw - 300px);
        margin-top: 80px;
    }

    #pamphlet_icon{
        margin-left: 10px;
    }

    .pamphlet_letter img{
        height: 60px;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .append-buttons {
        text-align: center;
    }
      
    .append-buttons button {
        display: inline-block;
        cursor: pointer;
    }
      
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev,.swiper-button-next
     {
        position: absolute;
        height: 45px;
        width: 45px;
        top: 30px;
    }
    /* 前へ次への矢印カスタマイズ */
    .swiper-button-prev:after,
    .swiper-button-next:after {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 45px;
        width: 45px;
    }
    /* 前への矢印カスタマイズ */
    .swiper-button-prev:after {
        background-image: url(../files/hidari.svg);
    }
    /* 次への矢印カスタマイズ */
    .swiper-button-next:after {
        background-image: url(../files/migi.svg);
    }

    /* 前への矢印 */
    .swiper-button-prev{
        left: 490px;
    } 

    .swiper-button-next{
        right: 0px;
    }
      
   /* ページネーションの基本スタイル */
    .swiper-pagination-bullet {
        background-color: transparent;
        background-image: url(../files/pamphlet_before.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: unset; 
        height: 10px;
        width: 10px;
        opacity: 1; 
    }
    
    .swiper-pagination-bullet-active {
        background-image: url(../files/pamphlet_after.svg);
        height: 10px;
        width: 10px;
    }

    .swiper-slide img {
      height: auto;
      width: 100%;
    }

    .swiper-pagination{
        position: relative;
        margin: 20px 0 70px;
    }
}