/* ページ内にid指定でリンクする際にスクロールアニメーションを表示するため*/
html{scroll-behavior: smooth;}

/*スタイルリセット＋リンクホバーアニメーション追加*/
body{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
}
/*スマホ用のスタイル*/
@media only screen and (max-width: 600px) {
}

/*タブレット・パソコン用のスタイル*/
@media only screen and (min-width: 600px) {
    header{
        width: 100%;
        height: 60px;
        background-color:white;
        border-bottom: 1px solid #BFBFBF ;
    }

    #header_icon{
        height: 40px;
        margin-top: 10px;
        margin-left: 30px;
    }
}