html, body{
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  * {
    box-sizing: border-box;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }

  
  .carousel__viewport {
    position: absolute;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    width: 75%;
    margin-left: 15%;
  }
  
  .carousel__slide {
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  }  
  
  .slide_photo{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

.hidari,
.carousel__prev{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  padding-left: 80%;
}

.migi,
.carousel__next{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 90%;
  top: 10%;
}
